%h2==Project: #{@experiment.project_name}



%table.table.table-bordered
  %tbody
    %tr
      %th qInteract Project ID
      %td= @experiment.qinteract_project_id
    %tr
      %th Project Name
      %td= @experiment.project_name
    %tr
      %th Owners
      %td=@experiment.owners
    %tr
      %th Archive Disk
      %td= @experiment.archive_disk
    %tr
      %th Archive Folder
      %td= @experiment.archive_folder_name

=link_to "Show Full Record", record_experiment_path(), method: 'get', class: 'btn btn-large'
%h4 Analyses
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Owners
      %th Search Type
  %tbody
    -for analysis in @experiment.record['analyses']
      %tr
        %td=analysis["analysis_name"]
        %td=analysis["owner"]
        %td=analysis["search"]["algorithm"]
%h4 Files
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Path
      %th MD5 Sum
  %tbody
    -for f in @experiment.record['file_list']
      %tr
        %td=f["path"]
        %td=f["md5"]
